.background {
  background-repeat: no-repeat;
  background: linear-gradient(#2196f3, #2196f3, #29B6F6, white);
  background-size: contain;
}

.hero_content_wrapper {
  display: flex;
  flex-direction: column;
  padding: 4rem 0rem 4rem 0rem;
}

