.background {
  background-repeat: no-repeat;
  background: linear-gradient(#2196f3, #2196f3, #29B6F6, white);
  background-size: contain;
}

.hero_content_wrapper {
  display: flex;
  flex-direction: column;
  padding: 4rem 0rem 4rem 0rem;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;


  @media screen and (min-width: 900px) {
    text-align: start;
    align-items: start;
    
  }

}

.padding_top_bot {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
