<main>
  <div class="bg-blue-light hero-container">
    <div>

    </div>
    <div>
      
    </div>
    <div class="wrapper">
      <h1>Begin your coding adventure with us</h1>
      <h4>Explore coding effortlessly with our project-based learning platform for aspiring programmers</h4>
      <div class="hero-actions button-color-wrapper">
        <button mat-flat-button color="primary" class="success">Primary</button>
      </div>
    </div>
  </div>
</main>
<div class="button-color-wrapper">
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button class="success">Primary</button>
</div>

