<main>
  <section class="bg-blue-light hero-container">
    <div>
      <img src="assets/hero-image.svg" alt="">
    </div>
    <div class="vertical-spacer">
      <div class="wrapper">
        <h1>Begin your coding adventure with us</h1>
        <h3>Explore coding effortlessly with our project-based learning platform for aspiring programmers</h3>
        <div class="hero-actions button-color-wrapper">
          <a mat-flat-button iconPositionEnd color="primary" class="success" href="/course">
            <div class="btn-content">
              <span>Explore</span>
              <mat-icon fontSet="material-symbols-rounded">arrow_forward</mat-icon>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="section-spacer-top">
    <div class="">

    </div>
  </section>
</main>