.wrapper {
    h1 {
        color: white;
        margin-block-start: 0.2em;
        margin-block-end: 0.2em;
    }
    h4 {
        font-weight: 400;
        color: #d1d5db;
        margin-block-start: 0.2em;
    }

    .hero-actions {
        display: flex;
        justify-content: space-between;
    }
}

.hero-container {
    padding: 7rem;
    display: flex;
    flex-direction: column;
}

.bg-blue-light {
    background-repeat: no-repeat;
    background: linear-gradient(#008CFC, #29B6F6);
    background-size: contain;
}