@import '../../../../styles/breakpoints.scss';

.wrapper {

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 2rem;


    @media (min-width: $desktop) { 
        display: block;
        text-align: left;
        padding: 0;
    }

    h1 {
        color: white;
        margin-block-start: 0.2em;
        margin-block-end: 0.2em;
        font-size: 3.5rem;
    }
    h3 {
        font-weight: 400;
        color: #d1d5db;
        margin-block-start: 0.2em;
        font-size: 1.5rem;
        padding-right: 2rem;
    }

    .hero-actions {
        display: flex;
        gap: 1rem;
    }
}

.vertical-spacer {
    padding-top: 2rem;
}

.hero-container {
    flex-direction: column;
    display: flex;
    justify-content: center;

    @media (min-width: $desktop) {
        justify-content: left;
        flex-direction: row-reverse;
    }
}

.bg-blue-light {
    background-repeat: no-repeat;
    background: linear-gradient(#1e88e5, #29B6F6);
    background-size: contain;
}

.btn-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

}