.wrapper {
    h1 {
        color: white;
    }
    h2 {
        color: #d1d5db;
    }

    .hero-actions {
        display: flex;
        justify-content: space-between;
    }
}

.hero-container {
    padding: 7rem;
}

.bg-blue-light {
    background-repeat: no-repeat;
    background: linear-gradient(#008CFC, #29B6F6);
    background-size: contain;
}