<div class="sidebar-container">
    <div class="logo-container">
        <img src="assets/blockchain.svg" alt="" width="40">
        <h4>DevAcademy</h4>
    </div>
    <mat-divider class="logo-divider"></mat-divider>

    <div>
        <app-search placeholder="Quick search..." />
    </div>

    <div class="nav-link-list-wrapper">
        <mat-nav-list>
            <a mat-list-item routerLink="/" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}"
                class="nav-link">
                <mat-icon matListItemIcon fontSet="material-symbols-rounded">home</mat-icon>
                <span>home</span>
            </a>
            <a mat-list-item routerLink="/course" routerLinkActive="is-active" class="nav-link">
                <mat-icon matListItemIcon fontSet="material-symbols-rounded">school</mat-icon>
                <span>course</span>
            </a>

            <a mat-list-item routerLink="/about" routerLinkActive="is-active" class="nav-link">
                <mat-icon matListItemIcon fontSet="material-symbols-rounded">info</mat-icon>
                <span>about</span>
            </a>

            <a mat-list-item routerLink="/contact" routerLinkActive="is-active" class="nav-link">
                <mat-icon matListItemIcon fontSet="material-symbols-rounded">contact_page</mat-icon>
                <span>contact</span>
            </a>


        </mat-nav-list>
    </div>
</div>