.search-btn {
  background-color: white;
  border: 0 solid #e5e7eb;
  border-radius: 10px;
  border: 2px solid #CFD8DC;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin: 0.1rem;
}

.search-wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.btn-container {
  font-weight: 600;
  font-size:small;
  color: #B0BEC5;
  display: flex;
  gap: 20px;  
  align-items: center;
}

.command-key-logo {
  font-size: 24px;
}